body {
    display: flex;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.chat-window {
    flex: 1;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.chat-message {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 60%;
}

.chat-message.received {
    align-self: flex-start;
}

.chat-message.sent {
    align-self: flex-end;
    background-color: #e6f2ff;
}

.chat-message.prompt {
    align-self: flex-start;
    font-style: italic;
    background-color: #f0fff0;
}

.chat-message.multipleChoiceOption {
    align-self: flex-start;
    background-color: #fdffd8;
    cursor: pointer;
}

.chat-message.hidden {
    display: none;
}

.chat-options {
    padding-left: 20px;
}

.chat-options.hidden {
    display: none;
}

.chat-bar {
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 5px;
}

.chat-bar input {
    flex-grow: 1;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.chat-bar button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.reader {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    overflow-y: auto;
}

.reader h1,
.reader p,
.reader img {
    max-width: 600px;
    margin: 0 auto 20px;
}

.reader {
    display: flex;
    flex-direction: column;
}

.tab-link {
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    width: 100%;
}

.tab-link.active {
    background-color: #333;
    color: #fff;
}

.reader .tab-content {
    padding: 10px;
    display: block;
    border-radius: 0 5px 5px 5px;
    width: 100%;
}

.content {
    height: 100vh;
    padding: 10px 0;
}

.option-btn {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ccc;
}

.option-btn:hover {
  background-color: #aaa;
}
